<div class="card" id="SemesterCard">
  <div class="card-body" id="SemesterCardBody">
    <p class="SemesterName">Semester <%= semesterNumber %>
    </p>
    <p class="SemesterName" id="semesterBadgeTotal">
      <%= totalCredits %> ECTS-Credits
    </p>
  </div>
</div>